body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  -ms-overflow-style: none;
}

.loader {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 8px solid #e0e0e0;
  border-top: 8px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Уведомления */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 1000;
}

.secondary-button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.secondary-button:hover {
  background-color: #f5f5f5;
}
